header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 2rem;
  
}
.ButtonAñadir{ 
  display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.imgLogo {
  width: 180px;
  height: 50px;
}

.logo {
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 70px;
  justify-content: space-between;
}
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  border-radius: 1rem;
  width: 100rem;
  height: 4rem;
  text-align: left;
  padding-left: 50px;
  text-transform: uppercase;
  padding-right: 30px; 
}
.search-button {
  position: absolute;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  margin-left: 15px;
  width: 17px;
  height: 17px;
  
}
