header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 2rem;
  
}
.ButtonAñadir{ 
  display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.imgLogo {
  width: 180px;
  height: 50px;
}

.logo {
  align-items: center;
  flex-direction: row;
  display: flex;
  gap: 70px;
  justify-content: space-between;
}
