.my-modal-class {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 453px;
  height: 395px;
  border: 1px solid #ccc;
  background: linear-gradient(180deg, #D9D9D9 20%, rgba(217, 217, 217, 0.00) 100%);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ReactModal__Overlay {
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(8px);
}

.button_modal {
  width: 140px;
  height: 45px;
  cursor: pointer;
  margin-top: 85px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: #1A8FDD;
  font-size: 15px;
}

input {
  width: 80%;
  height: 42px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  background: white;
  color: black;
}

select {
  width: 80%;
  height: 42px;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  font-family: monospace;
  font-size: 15px;
}

option[value="javascript"] {
  background-color: yellow;
}

option[value="html-y-css"] {
  background-color: blue;
  color: white;
}

option[value="java"] {
  background-color: green;
}

option[value="git-y-github"] {
  background-color: red;
  color: white;
}

.language {
  font-family: monospace;
  font-size: 15px;
}

