html {
  font-size: 62.5%;
}


html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to top, #000000, #808080);
  background-repeat: no-repeat;
  background-size: cover;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: monospace;
}

.barButtom {
  background-color: white;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  display: flex;
  width: 70%;
  height: 8px;
  align-items: baseline;
  flex-direction: row;
  gap: 20px;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 15px;
  place-items: center;
  border-radius: 5px;
  position: relative;
  
}


.url-container {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  place-items: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.barButtom.red {
  background-color: red;
}

.barButtom.blue {
  background-color: blue;
}

.barButtom.green {
  background-color: green;
}

.barButtom.yellow {
  background-color: yellow;
}

